
.vagrant/machines/jumpbox/virtualbox/action_set_name
ubuntu-xenial-16.04-cloudimg-console.log
.vagrant/machines/jumpbox/virtualbox/synced_folders
.vagrant/machines/jumpbox/virtualbox/private_key
.vagrant/machines/jumpbox/virtualbox/index_uuid
.vagrant/machines/jumpbox/virtualbox/id
.vagrant/machines/jumpbox/virtualbox/creator_uid
.vagrant/machines/jumpbox/virtualbox/action_provision
.vagrant/machines/concourse/virtualbox/index_uuid
.vagrant/machines/concourse/virtualbox/id
.vagrant/machines/concourse/virtualbox/creator_uid
.vagrant/machines/concourse/virtualbox/action_set_name
.vagrant/machines/concourse/virtualbox/synced_folders
.vagrant/machines/concourse/virtualbox/private_key
.vagrant/machines/concourse/virtualbox/action_provision
